.dashboard-title {
    font-size: 2.2rem;
    font-weight: 300;
}

.dashboard-announced {
    border-bottom: 4px solid var(--mainPurple);
    width: 150px;
}

.border-purple {
    width: 150px;
    border: 2px solid var(--mainPurple);
    margin-top: 12px;
    margin-left: -35px;
    position: absolute;
}

.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
