.footer-list {
    list-style: none;
    padding: 0;
}

.footer-copy, .text-grey {
    color: #888;
}

.underline {
    text-decoration: underline;
}

.list-icons {
    list-style: none;
    color: #888;
    cursor: pointer;
    position: relative;
}

.list-icons > li {
    padding: 0;
}


.list-icons li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.8rem;
}

li.facebook:hover {
    background-color: rgb(7, 72, 126);
    color: #fff;
}

li.youtube:hover {
    background-color: rgb(230, 22, 22);
    color: #fff;
}

li.linkedin:hover {
    background-color: rgb(13, 115, 163);
    color: #fff;
}

li.instagram:hover {
    background-color: rgb(223, 27, 190);
    color: #fff;
}

li.twitter:hover {
    background-color: rgb(27, 168, 223);
    color: #fff;
}


.ads {
    font-size: 0.8rem;
}